
/*Fonts*/
#left {
	font-family: 'Lato', sans-serif;
	text-align: left;
	position: relative; left: 125px; top: 63px;
	font-size: 20px
}

#right {
	font-family: 'Lato', sans-serif;
	text-align: left;
	position: relative; left: 1025px; top:-50px;
	font-size: 20px
}

#one{
	font-family: 'Lato', sans-serif;
	text-align: left;
	position: relative; left: 1175px; top:-500px;
	font-size: 19px
}

#two{
	font-family: 'Lato', sans-serif;
	position: relative; left: 1000px; top:-450px;
	font-size: 20px
}

#three {
	font-family: 'Lato', sans-serif;
	position: relative; left: 1000px; top:-350px;
	font-size: 20px
}

#four{
	font-family: 'Lato', sans-serif;
	text-align: left;
	position: relative; left: 375px; top:0px;
	font-size: 20px
}

h2 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 60px;
	color: rgb(91, 106, 243);
}

h3 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: rgb(91, 106, 243);
}

h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color:white;
	background-color:rgb(91, 106, 243)
}

body {
	background-color: rgb(221, 212, 221)
}



/*Chart Alignments*/

#barchart {
	top:0px;
	bottom: 100px; 
	left: 200px;
	right: 100px;

}

#dot_map {
	top:50px;
	bottom: 0px; 
	left: 50px;
	right: 100px;

}

#splom {
	top:0px;
	bottom: 0px; 
	left: 50px;
	right: 100px;

}

#stacked_bar {
	top:0px;
	bottom: 0px; 
	left: 50px;
	right: 100px;
}